 body{
          background-color: rgb(1, 130, 129);
        }
        h2{
            color: crimson;
        }
        h3{
           color: rgb(194, 35, 173); 
        }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}


body {
  display: flex;
  justify-content: center; 
  align-items: center;    
  min-height: 100vh;       
}


.page-content {
  text-align: center;     
  max-width: 600px;        
  padding: 20px;
}
